.bd_50 {
  border-radius: 50% !important;
}

.bd_none {
  border-radius: 0 !important;
}

.bd_cl_none {
  border-color: transparent !important;
}

.bd_cl_d {
  border: 1px dashed var(--main-color-border) !important;
}

:root {
  --bd-ra: 12px;
  --bd-ra-big: 16px;
}
