:root {
  --theme-color: #000;
  --theme-color-not: #fff;
  --text-df-color: #ddd;

  --bg: #373737;
  --bg-dark: #252525;
  --bg-hover: #484848;

  --main-color-bg: #116b6e;
  --main-color-bg-hover: #19898d;
}
