.d_f_fd_c {
  display: flex;
  flex-direction: column;
}

.d_f_ce {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d_f_ai_ce {
  display: flex;
  align-items: center;
}

.d_f_ai_fe {
  display: flex;
  align-items: flex-end;
}

.d_f_jc_ce {
  display: flex;
  justify-content: center;
}

.d_f_jc_sb {
  display: flex;
  justify-content: space-between;
}

.d_f_gap {
  display: flex;
  flex-wrap: wrap;
  gap: var(--d-f-gap);
}

.d_f_1 {
  flex: 1;
}

:root {
  --d-f-gap: 10px;
}
