.d_f_fd_c {
  display: flex;
  flex-direction: column;
}

.d_f_ce,
.d_f_ce_child > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d_f_ai_ce {
  display: flex;
  align-items: center;
}

.d_f_ai_fe {
  display: flex;
  align-items: flex-end;
}

.d_f_ai_start {
  display: flex;
  align-items: flex-start;
}

.d_f_jc_ce {
  display: flex;
  justify-content: center;
}

.d_f_jc_sb {
  display: flex;
  justify-content: space-between;
}

.d_f_jc_sa {
  display: flex;
  justify-content: space-around;
}

.d_f_gap {
  display: flex;
  flex-wrap: wrap;
  gap: var(--d-f-gap);
}

.d_f_1 {
  flex: 1;
}

.d_n {
  display: none;
}

:root {
  --d-f-gap: 10px;
}
