.d_f_ce {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d_f_ai_ce {
  display: flex;
  align-items: center;
}

.d_f_jc_sb {
  display: flex;
  justify-content: space-between;
}
