.pd_normal {
  padding: var(--pd) !important;
}

.pd_small {
  padding: var(--pd-small) !important;
}

.pd_tb_small {
  padding-top: var(--pd-small) !important;
  padding-bottom: var(--pd-small) !important;
}

.pd_tb_0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

:root {
  --pd: 12px;
  --pd-small: 6px;
  --pd-small-very: 3px;
  --pd-big: 18px;
}
