.menu_icons {
  padding: var(--pd-small-very);

  & > * {
    padding-top: var(--pd-small-very);
    padding-bottom: var(--pd-small-very);
    aspect-ratio: 1;
  }

  & .active {
    color: var(--main-color);
  }
}
