.menu_icons {
  padding: var(--pd-small-very);

  & > * {
    padding-top: var(--pd-small-very);
    padding-bottom: var(--pd-small-very);
    transition: scale 0.4s var(--spring-transition);
    cursor: pointer;

    &:active {
      scale: 0.95;
    }
  }

  & .active {
    color: var(--main-color);
  }
}
