.notification_con {
  width: min(var(--notifications-page-con-width), 100%);
}

.notification_item[removed='removed'] {
  padding: 0;
  margin: 0;
  transform: translateX(-100%);
  background-color: var(--red-color-bg);
  overflow: hidden;
  transition: padding 0.5s var(--spring-transition),
    transform 0.5s var(--spring-transition);
  animation: heightTo0 0.5s var(--spring-transition) forwards;
}

:root {
  --notifications-page-con-width: 400px;
}