@keyframes widthTo100 {
  to {
    width: 100%;
  }
}

@keyframes heightTo100 {
  to {
    height: 100%;
  }
}

@keyframes scaleTo1 {
  to {
    scale: 1;
  }
}

@keyframes opaTo1 {
  to {
    opacity: 1;
  }
}

@keyframes gradientAnimation {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}
